aside {
  .clearfix();
  width: 280px;
  margin-right: -280px; /* http://htmlbook.ru/blog/4-metoda-sozdaniya-kolonok-odinakovoy-vysoty */
  position: relative;
  top: 0;
  height: 100%;
  float: left;
  background-color: @aside-bg-color;
  .box-shadow(0, 0, 10px);
}