.front {    
  .clearfix();  
  position: relative;

  &__slider {
    .clearfix();
    .box-shadow(0, 0, 10px);
    &__img {
      .size-600x300();
      float: left;
      overflow: hidden;
    }

    &__info {
      .size-300x300();
      float: right;
      background: @footer-bg-color;
      color: @light-text-color;
    }
  }

  &__content {
    .clearfix();
  }

  &__links {
    .clearfix();    
    background: #F2F2F2;
  }

  &__news {
    .clearfix();
    box-sizing: border-box;
    width: 600px;
    float: left;
    padding: 20px;
    padding-right: 0;    

    & h2 {
      font-size: 24px;
      text-align: left;
      color: @rekord-blue;
    }

    & article {
      .clearfix();
      margin-top: 20px;
      padding-bottom: 20px;      
      border-bottom: dotted 1px @rekord-blue;
    }

    &--date {   
      box-sizing: border-box;       
      float: left;
      width: 35px;      
      margin-right: 20px;
      text-align: center;
    }

    &--day,
    &--month {
      font-size: 18px;
      border-bottom: solid 1px @rekord-blue;
    }

    &--day{
      font-weight: 700;
    }

    &--foto {
      float: left;
      box-sizing: border-box;
      border: solid 1px @rekord-blue;
      width: 225px;
    }

    &--title {
      position: relative;
      min-height: 150px;
      font-size: 16px;
      float: right;
      box-sizing: border-box;
      width: 280px;
    }

    &--more {
      position: absolute;
      bottom: 0;
      left: 0;
      font-style: italic;
    }

    &--all {
      padding-top: 20px;
      padding-bottom: 20px;
      font-style: italic;
      font-size: 21px;
      font-weight: 700;
    }
  }

  &__anounce {
    box-sizing: border-box;
    width: 300px;
    float: right;
    padding: 20px;
    padding-right: 10px;
    font-size: 16px;

    & article {
      margin-top: 20px;
      padding-bottom: 20px;      
      border-bottom: dotted 1px @rekord-red;
    }


    & a {
      color: @rekord-red;
    }

    & h2 {
      font-size: 24px;
      text-align: left;
      color: @rekord-red;
    }

    &--title {
      margin-bottom: 10px;
    }

    &--more {            
      font-style: italic;
    }

    &--all {
      padding-top: 20px;
      padding-bottom: 20px;
      font-style: italic;
      font-size: 21px;
      font-weight: 700;
      color: @rekord-red;
    }
  }
}