header {    
  .clearfix();

  min-height: 150px;

  & .logo {
    float: left;
    padding: 21px 30px;    

    & a {
      line-height: 0;
    }
  }

  & .title {
    display: none;
    float: left;
    padding-top: 26px;

    @media @tablet-widths {
      display: none;
    }
    
    @media @desktop-widths {
      display: block;
    }

    & h1 {
      padding: 0;
      margin: 0;
      color: @rekord-blue;
      text-align: left;
      font-style: italic;
      text-transform: none;
      font-weight: normal;
      font-size: 24px;
    }
  }

  & .utilities {
    position: relative;
    box-sizing: border-box;
    min-height: 150px;
    float: left;
    text-align: left;
    padding: 0 20px;
    .center();

    @media @tablet-widths {
      float: right;
      text-align: right;      
    }
    
    @media @desktop-widths {
      
    }    

    &__ftvi {
      position: relative;
      display: block;
      float: left;

      @media @tablet-widths {
        position: absolute;        
        top: 5px;
        right: 20px;  
      }
      
      @media @desktop-widths {
        
      }

      & img {
        max-width: 48px;
      }
    }

    &__search {
      position: relative;
      display: block;
      float: left;

      @media @tablet-widths {
        position: absolute;        
        bottom: 5px;
        right: 20px;
      }
      
      @media @desktop-widths {
        
      }
    }
  }
}