.menu-vertical {
  position: relative;

  margin-top: 20px;
  border-top: 1px solid @light-text-color;

  &--info {
    margin-top: 50px;
  }

  /*
  & h3 {
    margin: 0;
    padding: 10px 5px;
    color: @light-text-color;
    border-bottom: 1px solid @light-text-color;
  }

  &__toggle {
    position: absolute;
    z-index: 45;
    top: 0;
    right: 0;

    display: none;

    width: 40px;
    height: 30px;

    cursor: pointer;

    border: none;
    background-color: @rekord-red;
    font-size: 0;
  }

  &--closed &__toggle::before {
    position: absolute;
    top: 10px;
    left: 10px;

    width: 20px;
    height: 1px;

    content: "";

    background-color: #fff;
    box-shadow: 0 4px 0 0 #fff,
                0 8px 0 0 #fff;
  }

  &--closed &__toggle:active::before {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 0 0 rgba(255, 255, 255, 0.3),
                0 8px 0 0 rgba(255, 255, 255, 0.3);
  }

  &--opened &__toggle {
    &::before,
    &::after {
      position: absolute;
      top: 14px;
      left: 5px;

      width: 30px;
      height: 1px;

      content: "";

      background-color: #fff;
    }
    &::before {
      transform: rotate(45deg);

      box-shadow: none;
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:active::before,
    &:active::after {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  */

  @media @mobile-widths-only {
    &--closed &__item {
      display: none;
    }

    &__toggle {
      display: block;
    }
  }

  &--nojs &__toggle {
    display: none;
  }

  &--nojs &__item {
    display: block;
  }

  /* 
  &__item {
    position: relative;

    &.menu-item-has-children>a {
      background-image: url("img/r_arr.png");
      background-repeat: no-repeat;
      background-position: right center;
    }

    &:hover > ul.sub-menu {
      display: block;
    }
  
    & a {
      display: block;

      padding: 5px 10px;

      color: @light-text-color;
      border-bottom: 1px solid @light-text-color;
      background-color: @rekord-blue;

      font-size: 16px;

      &:hover {
        cursor: pointer;
        background-color: @rekord-red;
      }
    }

    &.current-menu-item a {
      background-color: @rekord-red;
    }
  }

  &--info &__item {

    & a {
      background-color: @rekord-red;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__list {
    text-align: left;

    .clear-list-style();

    &.sub-menu {
      position:absolute;
    	z-index: 50;
    	top: -5px;
    	left: 275px;

    	display: none;

    	width: 250px;

      .box-shadow();
    }
  }
  */


  /* ============ */
  overflow: hidden;

& ul {
    margin: 0;
    padding:0;
    list-style: none;
}
& > ul > li {
    position: relative;
}
& > ul > li > a {
    display: block;	
    padding: .7em 1em;	
    outline: 0;	
    border-bottom: 1px solid #222;
    background: #333;
    background-image:-webkit-linear-gradient(#444, #333);
    background-image:-moz-linear-gradient(#444, #333);
    background-image:-ms-linear-gradient(#444, #333);
    background-image:linear-gradient(#444, #333);
    -webkit-box-shadow:inset 0 1px 0 0 rgba(250,250,250,0.1);
    -moz-box-shadow:inset 0 1px 0 0 rgba(250,250,250,0.1);
    box-shadow:inset 0 1px 0 0 rgba(250,250,250,0.1);
    color:#C9C9C9;
    text-decoration: none;	
    text-shadow: 1px 1px 3px #111;	
    font-weight: normal;
}
& > ul > li > a:hover, 
& > ul > li > a.active {
    color:#f2bd00;
}
& .menu-item-has-children  ul {
    display: none;
    overflow: hidden;
    background: #eee;
    -webkit-box-shadow:inset 0 0 50px #bbb;
    -moz-box-shadow:inset 0 0 50px #bbb;
    box-shadow:inset 0 0 50px #bbb;
}
& .menu-item-has-children ul li a {
    display: block;
    padding: .7em 1em;
    border-bottom: 1px dotted #bababa;
    color:#514b92;
    font-size: 12px;
    text-decoration: none;
}
& .menu-item-has-children ul li a:hover,
& .menu-item-has-children ul li a.active {
    padding-left: 1.3em;
    background: #d8d8d8;
    color: red;
}
& .menu-item-has-children ul li a:after{
    float: left;
    margin-right:6px;
    content: "»";
    line-height: 12px;
}
& .menu-item-has-children > a:before {
    content:'•';
    height:12px;
    width:12px;
    font-size: 1em;
    display:inline-block;
    position: absolute;
    right: 10px;
    top: 12px;
    background: #333;
    line-height: .8em;
    color: red;
    text-indent: 0;
    text-align: center;
    text-shadow:none;
    font-weight: 500;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
}
/* активный переключатель */
& .menu-item-has-children > a.active:before{
    color: #f2bd00;
}
}
