.wp-pagenavi {
  .center();
  margin-bottom: 25px;
  text-align: center;

  &__link,
  &--current,
  &--extend {
    padding-right: 5px;

    border-right: 1px solid @rekord-blue;
  }

  &--current {
    padding: 2px 5px;
    border: 1px solid @rekord-blue;
    margin-left: -4px;
    border-radius: 2px;
  }

  &--next,
  &--prev,
  &--first,
  &--last {
    border-right: none;
    border-left: none;
  }

}
